body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #dbdbf3;
}

button {
    color: #E3E8E4;
    background-color: #ef0f10;
    border: 3px solid black;
    padding: 0.8em 1.7em;
    margin-bottom: 1em;
    font-weight: bold;
    order: 0;
    margin-top: 2em;
}

button:hover {
    color: black;
}

.grid {
    display: grid;
    background: #E3E8E4;
    border: 2em solid #ef0f10;
    width: 500px;
    height: 500px;
    order: 3;
    align-self: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
}

.break {
    flex-basis: 100%;
    height: 0;
    order: 2;
}

h1 {
    text-shadow: 2px 2px black;
    color: wheat;
    margin-left: 7em;
    order: 1;
}

.square {
    background: #E3E8E4;
    border: 1px dashed #25352850;
}

.sketched {
    background: #46484E;
}